<div class="All">
  <div class="content">
    
    <div class="header" id="header">
      
      <div class="nav"> 
      <div class="logo1">
           <img src="assets/img/techbrilliance_logo.png" alt="Logo1">
          </div>
       <label></label>
       <div class="switchs">
         
        <button style="font-weight: bold;" class="log" id="log" [routerLink]="['']"><i class="fa fa-home"></i> Home</button>
        <button style="font-weight: bold;" class="log" id="log" onclick="location.href='#scrollspyHeading1';"><i class="fa fa-cog"></i> Services</button>
        <button style="font-weight: bold;" class="log" id="log" [routerLink]="['/login']"><i class="fa fa-sign-in"></i> LOGIN</button>
        <button style="font-weight: bold;" class="log" id="log" [routerLink]="['/registration']"><i class="fa fa-user-plus"></i> CREATE ACCOUNT</button>
        <div class="logo-container">
         
        </div>
      </div>
    </div>
    <!-- <div class="main">
      <div class="text">
  
        <h1 style="margin-left: -10%;color: rgb(249, 237, 246); font-family: Verdana;">E-Learning Management System</h1><br>
        <h4 style="font-family: monospace; font-weight: bolder; margin-left: -8%; color: rgb(124, 73, 73);">Developed by - QUANTUMSOFT PVT LIMITED</h4><br><br>
  
      </div><br>
     // <img class="floating" id="img3" [src]="'assets/img/lms-bg.png'">//
    </div> -->
  </div>
  <br>
  </div>
  
  
  
  
<div class="slider">
<div class="slides">
  <div class="slide">
    <img class="floating" id="img1" src="assets/img/udemy1.png" alt="first image">
    <div class="text-overlay">
      <h5>Platform Integration</h5>
      If the course is online, upload<br>materials to your learning<br>Management System (LMS)
    </div>
  </div>
  <div class="slide">
    <img class="floating" id="img2" src="assets/img/QS 2.jpeg" alt="second image">
    <div class="text-overlay">
      <h5>Learn Programming with Python</h5>
      This flexible, self-paced course is<br>structured into multiple modules covering<br>Python basics and advanced topics.
    </div>
  </div>

  <div class="slide">
    <img class="floating" id="img3" src="assets/img/udemy3.jpg" alt="third image">
    <div class="text-overlay">
      <h5>Free C++ courses compilation</h5>
      For those looking for free option<br>there are free courses available<br>that cover basics to advance topics <br>including C++ 
    </div>
  </div>

</div>
<a class="prev" (click)="prevSlide()">&#10094;</a>
<a class="next" (click)="nextSlide()">&#10095;</a>
</div>

 

  
  
  
  
  
  
  
  
  
  <br><br>
  <marquee class="marquee" direction="left">🔔 "Tech Brilliance is an online educational platform that helps you discover and develop your skills,technology- related skills through expert-led courses." </marquee>
  <section id="about" class="about about-bg">
    <section class="logged-out-homepage-body_fill-backgroung_DpRLg">
      <div class="logged-out-homepage-body_ud-container-with-comman-padding_L5GG1">
        <div>
          <h1 id="values-props-and-features-title" class="ud-heading-serif-xxl">Learning focused on your goals</h1> 
          <div class="value-props-and-features_content_Rk_1Q">
            <div role="tablist" aria-labelledby="values-props-and-features-title" aria-orientation="vertical" class="value-props-and-features_values-column__6hDnh">
            </div>
            </div>
            </div>
      </div>



      <div class="about-container">
        <div class="subtext1"id="subtext1" (click)="changeImage('assets/img/1image.jpg')">
          <img alt="sketch of hand working with shapes" src="https://cms-images.udemycdn.com/96883mtakkm8/7kN9RBFSMFNHzsGWsElMPi/dde73f8d1c47e046f035274e78410590/hands-on-practice.png" class="features-tab_icon__2eVep" height="64" width="64" loading="lazy">
          <span class="counter"></span> &nbsp;Hands-on training <i id="subtext1Icon" class="fa fa-caret-down"></i>
        </div>
        <div class="innertext1" id="innertext1"><b style="color: darkmagenta; font-size: larger; font-weight: bolder;"></b>Upskill effectively with AI-powered coding exercises, practice tests, skills assessments, labs, and workspaces.</div>
      </div>
      
      <div class="about-container">
        <div class="subtext1" id="subtext2" (click)="changeImage('assets/img/22image.jpg')">
          <img alt="sketch of a certificate" src="https://cms-images.udemycdn.com/96883mtakkm8/2Xh9YHJustDwCEjn5IlO25/93e9b15c6e74876db0dec63466fcc5a0/certificate.png" class="features-tab_icon__2eVep" height="64" width="64" loading="lazy">
          <span class="counter"></span> &nbsp;Certification prep<i id="subtext2Icon" class="fa fa-caret-down"></i></div>
            <div class="innertext1" id="innertext2"><b style="color: darkmagenta; font-size: larger; font-weight: bolder;"></b>Prep for industry-recognized certifications by solving real-world challenges and earn badges along the way.</div>
      </div>
      
      <div class="about-container">
        <div class="subtext1"id="subtext3" (click)="changeImage('assets/img/3image.jpg')">
          <img alt="sketch of hand working with shapes" src="https://cms-images.udemycdn.com/96883mtakkm8/6w8plrr7vY9rIY46UuX0q5/2f0a3f0c22e99bd2d430b998c81321f2/empty-state-1.png" class="features-tab_icon__2eVep" height="64" width="64" loading="lazy">
          <span class="counter"></span> &nbsp;Insights and analytics
      
          <i id="subtext3Icon" class="fa fa-caret-down"></i>
        </div>
        <div class="innertext1" id="innertext3"><b style="color: darkmagenta; font-size: larger; font-weight: bolder;"></b>Fast-track goals with advanced insights plus a dedicated customer success team to help drive effective learning.
      
          .</div>
      </div>
      
      <div class="about-container">
        <div class="subtext1"id="subtext4" (click)="changeImage('assets/img/4image.jpg')">
          <img alt="sketch of hand working with shapes" src="https://cms-images.udemycdn.com/96883mtakkm8/2tKGBrb1N60wox2Lh8j3tz/7f1528c9f88ea47bd6ebb46f345902c3/organizations-2.png" class="features-tab_icon__2eVep" height="64" width="64" loading="lazy">
          <span class="counter"></span> &nbsp;Customizable content <i id="subtext4Icon" class="fa fa-caret-down"></i>
        </div>
        <div class="innertext1" id="innertext4"><b style="color: darkmagenta; font-size: larger; font-weight: bolder;"></b>Create tailored learning paths for team and organization goals and even host your own content and resources.
      
        </div>
      </div>
      
      <!-- Add more subtext elements as needed -->
       
       <img class="automation" [src]="automationImageSrc" width="470" height="420">  







  <!-- <div class="about-container">
      <div class="subtext1" id="subtext1"><span class="counter">01</span> &nbsp;Why Quantumsoft Technologies Better? <i id="subtext1" class="fa fa-caret-down"></i></div>
        <div class="innertext1" id="innertext1"><b style="color: darkmagenta; font-size: larger; font-weight: bolder;">Quantumsoft Technologies</b>is one of the best study websites for students that focuses on offering information and learning opportunities in the fields of art, humanities, and science. The website is partnered with some of the highly regarded institutions, giving you access to a vast collection of courses and study materials.</div>
  </div>
  <div class="about-container">
        <div class="subtext1" id="subtext2"><span class="counter">02</span> &nbsp;Three Different Modes<i id="subtext2" class="fa fa-caret-down"></i></div>
        <div class="innertext1" id="innertext2">This elearning Portal has three different modes of working as <b style="color:darkblue; font-size: larger; font-weight: bolder;">ADMIN, PROFESSOR & USER.</b> Each of them can access to their respective features and perform their task accordingly. (by default, the ADMIN will be <b style="color: darkgreen; font-size: larger; font-weight: bolder;"> </b><b style="color: darkred;">(portal creator)</b></div>
  </div>l
  <div class="about-container">
        <div class="subtext1" id="subtext3"><span class="counter">03</span> &nbsp;Who can enrol in Quantumsoft Technologies Better Courses? <i id="subtext3" class="fa fa-caret-down"></i></div>
        <div class="innertext1" id="innertext3">Quantumsoft Technologies courses are open to anyone willing to learn new things. There is no limitation with respect to your educational background or stage of study. The courses are especially beneficial for people who have jobs or other commitments and therefore want to learn from scratch at their own pace. Also, if you have already done some courses and want our placement services, you can enrol in any of the two courses and be eligible for placements just after clearing the competency tests.<b style="color: darkgreen; font-size: larger; font-weight: bolder;">video based lectures</b> and <b style="color: darkgreen; font-size: larger; font-weight: bolder;">website based lectures.</b> The <b style="color: darkred; font-size: medium; font-weight: bolder;">ADMIN</b> or <b style="color: darkred; font-size: medium; font-weight: bolder;">PROFESSOR</b> can specify the course type while adding a new course</div>
  </div>
  <div class="about-container">
    <div class="subtext1" id="subtext4"><span class="counter">04</span> &nbsp;Frequently asked questions<i id="subtext4" class="fa fa-caret-down"></i></div>
    <div class="innertext1" id="innertext4"> Q.1 When will the placement process start? <br>Once you clear the Foundation Track you will earn a certificate of completion. Post that you will be eligible to participate in our placement drive called QuantX.<br>Q.2 How many hiring partners does Quantumsoft Technologies have?<br>We currently have partnerships with 700+ companies ranging from high growth startups to large MNCs. However, owing to our relentless pursuit, this number keeps increasing as we have been constantly expanding our network of hiring partners.<br> Q.3 Does Quantumsoft Technologies provide job-switching assistance?<br>Yes, we believe in making a long-term relationship with our students. We will help you in switching jobs through our strong alumni network.</div>
  </div>
  <div class="about-container">
        <div class="subtext1" id="subtext5"><span class="counter">05</span> &nbsp;Is there any selection test for enroling in Quantumsoft Technologies courses?<i id="subtext5" class="fa fa-caret-down"></i></div>
        <div class="innertext1" id="innertext5"><b style="color: darkgreen; font-size: larger; font-weight: bolder;"> No </b> you don't have to take any test to enrol in the courses that we offer</div>
  </div><br>
   <img class="automation" [src]="'assets/img/portalimg.gif.gif'" width="470" height="420">
  
  </section>
  
  
   -->



   <section class="trending">
    <div class="container">
      <div class="course" title="50% off on Java" data-bs-toggle="popover"  data-bs-trigger="hover focus" data-bs-placement="right" 
      data-bs-custom-class="custom-popover"
      data-bs-title="java"
      data-bs-content= "Learn the core Java skills needed to apply for Java developer positions in just 14 hours.
      Be able to sit for and pass the Oracle Java Certificate exam if you choose.
      Be able to demonstrate your understanding of Java to future employers.
      Learn industry best practices in Java software development from a professional Java developer who has worked in the language for close to 25 years.
      Acquire essential java basics for transitioning to the Spring Framework, Java EE, Android development and more.
      Obtain proficiency in Java 17, as well as older versions incluing Java 11 and Java 8.
      Java 21 features coming soon!"> 
        <img src="assets/img/java.jpeg" alt="java">
        <small  [routerLink]="['/login']" style="color: navy; text-align: center; cursor: pointer;">
          <h3>JAVA</h3>
        </small>
        <span><b>₹2,599</b></span><br>
        <span><del>₹4,499</del></span>
      </div>
      <div class="course " title="45% off on Python" data-bs-toggle="popover"  data-bs-trigger="hover focus" data-bs-placement="right"
        data-bs-custom-class="custom-popover"
        data-bs-title="Python"
        data-bs-content="You will master the Python programming language by building 100 unique projects over 100 days.
        You will learn automation, game, app and web development, data science and machine learning all using Python.
        You will be able to program in Python professionally
        You will learn Selenium, Beautiful Soup, Request, Flask, Pandas, NumPy, Scikit Learn, Plotly, and Matplotlib.
        Create a portfolio of 100 Python projects to apply for developer jobs
        Be able to build fully fledged websites and web apps with Python
        Be able to use Python for data science and machine learning
        Build games like Blackjack, Pong and Snake using Python"> 
      <img src="assets/img/python.jpeg" alt="python">
        <small style="color: navy; text-align: center; cursor: pointer;">
          <h3>Python</h3>
        </small>
        <span><b>₹1,999</b></span><br>
        <span><del>₹3,500</del></span>
      </div>
      <div class="course" title="33% off on Java" data-bs-toggle="popover"  data-bs-trigger="hover focus" data-bs-placement="right"
      data-bs-custom-class="custom-popover"
      data-bs-title="Data Science"
      data-bs-content="The course provides the entire toolbox you need to become a data scientist,
      Fill up your resume with in demand data science skills: Statistical analysis, Python programming with NumPy, pandas, matplotlib, and Seaborn, Advanced statistical analysis, Tableau, Machine Learning with stats models and scikit-learn, Deep learning with TensorFlow
      Impress interviewers by showing an understanding of the data science field Learn how to pre-process data,
      Understand the mathematics behind Machine Learning (an absolute must which other courses don’t teach!),
      Start coding in Python and learn how to use it for statistical analysis,
      Perform linear and logistic regressions in Python,
      Carry out cluster and factor analysis.">
      
      <img src="assets/img/ds2.jpeg" alt="DS">
        <small style="color: navy; text-align: center; cursor: pointer;">
          <h3>DATA SCIENCE</h3>
        </small>
        <span><b>₹2,200</b></span><br>
        <span><del>₹4,000</del></span>
      </div>
      <div class="course" title="40% off on Web Devlopment" data-bs-toggle="popover"  data-bs-trigger="hover focus" data-bs-placement="right"
      data-bs-custom-class="custom-popover"
      data-bs-title="Web Devlopment"
      data-bs-content="The course provides the entire toolbox you need to become a data scientist
      Fill up your resume with in demand data science skills: Statistical analysis, Python programming with NumPy, pandas, matplotlib, and Seaborn, Advanced statistical analysis, Tableau, Machine Learning with stats models and scikit-learn, Deep learning with TensorFlow
      Impress interviewers by showing an understanding of the data science field
      Learn how to pre-process data
      Understand the mathematics behind Machine Learning (an absolute must which other courses don’t teach!)
      Start coding in Python and learn how to use it for statistical analysis
      Perform linear and logistic regressions in Python
      Carry out cluster and factor analysis.">
     
      <img src="assets/img/web development.jpeg" alt="web development">
        <small style="color: navy; text-align: center; cursor: pointer;">
          <h3>Web Development</h3>
        </small>
        <span><b>₹999</b></span><br>
        <span><del>₹2000</del></span>
  
      </div>
      <div class="course" title="33% off on C++" data-bs-toggle="popover"  data-bs-trigger="hover focus" data-bs-placement="right"
      data-bs-custom-class="custom-popover"
      data-bs-title="C++"
      data-bs-content="Learn to program with one of the most powerful programming languages that exists today, C++.
      Obtain the key concepts of programming that will also apply to other programming languages
      Learn Modern C++ rather than an obsolete version of C++ that most other courses teach Learn C++ using a proven curriculum that covers more material than most C++ university courses
      Learn C++ from an experienced university full professor who has been using and teaching C++ for more than 25 years
      Includes Quizzes, Live Coding Exercises, Challenge Coding Exercises and Assignments
      New Section: Learn to use Visual Studio Code with C++"> 
      <img src="assets/img/c++.jpeg" alt="C++">
        <small style="color: navy; text-align: center; cursor: pointer;">
          <h3>c++</h3>
        </small>
        <span><b>₹888</b></span><br>
        <span><del>₹3,333</del></span>
  
      </div>
      <div class="course" title="60% off on angular" data-bs-toggle="popover"  data-bs-trigger="hover focus" data-bs-placement="right"
      data-bs-custom-class="custom-popover"
      data-bs-title="Angular"
      data-bs-content="Learn modern Angular, including standalone components & signals from the ground up & in great detail!
      Learn how to send HTTP requests, implement routing, authenticate users or handle complex forms - and much more!
      Develop modern, complex, responsive and scalable web applications with Angular Learn TypeScript, a modern JavaScript superset, along the way
      Create single-page or fullstack applications with one of the most modern JavaScript frameworks out there
      Use the gained, deep understanding of the Angular fundamentals to quickly establish yourself as a frontend developer"> 
        <img src="assets/img/angular.jpeg" alt="Angular">
        <small style="color: navy; text-align: center; cursor: pointer;">
          <h3>Angular</h3>
        </small>
        <span><b>₹799</b></span><br>
        <span><del>₹1500</del></span>
  
      </div>
    </div>
  </section>
  












  
  <footer>
  
    
    <div class="footer-container">
        <div class="footer-section">
          <h3 style="position:relative; left: -40px;">Get to Know Us</h3>
            <ul style="list-style: none; display: block; float: left;">
             
                <li style="top:-3px;"><a [routerLink]="['/aboutus']">About Us</a></li>
                <li style="top:-3px;"><a [routerLink]="['/referearn']">Refer and earn </a></li>
                <li style="top:-3px;"><a [routerLink]="['/jobs']">jobs </a></li>
                <li style="top:-3px;"><a [routerLink]="['/placements']">Placement</a></li>
            </ul>
  
        </div>
        <div class="footer-section">
            <h3 style="position:relative; left: -40px;">Connect with Us</h3>
            <ul style="list-style: none; display: block; float: left;">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
        </div>
        <div class="footer-section">
            
  
  
          <h3 id="scrollspyHeading1" style="position:relative; left: -40px;">Our services</h3>
          <ul style="list-style: none; display: block; float: left;">
            <li><a [routerLink]="['/registration']">Hire From Us</a></li>
            <li><a [routerLink]="['/review']">Reviews</a></li>
            <li><a href="https://www.google.com/maps/search/?api=1&query=20.923377846140507,77.76937754212156" target="_blank">Company Location</a></li>
            <li><a [routerLink]="['/privacypolicy']">Privacy Policy</a></li>
            <li><a [routerLink]="['/termcondition']">Terms & Condition</a></li>
            <li><a [routerLink]="['/events']">Events</a></li>
          </ul>
  
       
          
  
          
  
  
  
            <!-- <h3 id="scrollspyHeading1">Our services</h3>
  
  
            <ul>
                <li><a [routerLink]="['/registration']">Hire From Us</a></li>
                <li><a [routerLink]="['/review']">Reviews</a></li>
                <li><a href="https://www.google.com/maps/search/?api=1&query=20.923377846140507, 77.76937754212156" target="_blank">Company Location</a></li>
                <li><a [routerLink]="['/privacypolicy']">Privacy policy </a></li>
              
                <li><a [routerLink]="['/termcondition']">Terms & condition  </a></li>
            
                <li><a [routerLink]="['/events']">Events  </a></li> -->
                
                
            <!-- </ul> -->
        </div>
        <div class="footer-section">
            <h3 style="position:relative; left: -40px;">Contact Us</h3>
            <ul>
                <li>
                  
                  Company Name
                  
                  Tech Brilliance pvt ltd.
                  
                  Company Status : Active
                  
                  RoC-Mumbai<br><br>
                  
                  Registration Number-363878 <br><br>
                  HOUSE NO 19 SURWADI, TIWASA AMRAVATI Amravati MH 444707 IN<br><br>
                  contact : 9999999911
               </ul>
        </div>
    </div>
  </footer>
  
  
  
  
  
  
   <!-- <main id="main">
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2 style="font-family: aladin; color: rgb(3, 34, 34);">User friendly portal for Learning</h2>
      </div>
      <div class="mid_body2">
        <div class="details">
          <div class="detail_1" (click)="navigate()" style="background-color: rgb(19, 104, 97); margin-right: 5%;">
            <h2 style="font-weight: bolder; font-size: 35px;font-family: monospace; margin-top: 5%; color: white;"> Admin </h2>
            <div class="circle" style="border-radius: 50%; background-color: rgb(244, 234, 234); padding: 10%;">
                <img [src]="'assets/img/admin.png'" width="130" height="130">
            </div>
          </div>
          <div class="detail_2" (click)="navigate()" style="background-color: rgb(19, 104, 97); margin-right: 5%;">
            <h2 style="font-weight: bolder; font-size: 35px;font-family: monospace; margin-top: 5%; color: white;"> Professor </h2>
            <div class="circle" style="border-radius: 50%; background-color: white; padding: 10%;">
                <img [src]="'assets/img/femaleprofessor.png'" width="130" height="130">
            </div>
        </div>
          <div class="detail_3" (click)="navigate()" style="background-color: rgb(19, 104, 97); margin-right: 5%;">
            <h2 style="font-weight: bolder; font-size: 35px;font-family: monospace; margin-top: 5%; color: white;"> User </h2>
            <div class="circle" style="border-radius: 50%; background-color: white; padding: 10%;">
                <img [src]="'assets/img/male.png'" width="130" height="130">
            </div>
        </div>
        </div>
      </div>
    </div>
  </section>
  </main> 
  </div> -->
  


  
  <app-footer> </app-footer> 